/* Fondo del menú */
ion-menu {
  --ion-background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro translúcido */
  backdrop-filter: blur(10px); /* Glassmorphism */
  color: white;
}

/* Fondo del header y toolbar */
ion-header,
ion-toolbar {
  background-color: #2f0475;
  color: white;
}

/* Título del menú */
ion-menu ion-title {
  color: #ffffff;
}

/* Lista y elementos */
ion-list {
  --background: transparent;
  background-color: transparent;
}

ion-item {
  --background: transparent;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

/* Efecto hover al pasar el mouse */
ion-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Íconos del menú */
ion-item ion-icon {
  color: #ffffff;
}

/* Etiquetas de texto (letras) */
ion-item ion-label {
  color: #ffffff !important;
}
